
<main class="content-playlist">

  <section class="midia-display">
  <video controls class="midias-display" >
    <source  src="assets/Vídeo.mp4">
  </video>
  </section>

  <section class="playlists">
    <h1>Playlist {{playlist.titulo}}</h1>
    <article class="details-playlist">

      <section class="card-playlist" *ngFor="let conteudo of playlist.conteudos">
        <article class="icon-titlePlaylist">
          <img ngSrc="assets/playlistW.png" class="icon-playlist" alt="" height="512" width="512">
          <p>{{conteudo.titulo}}</p>
        </article>

        <article class="play-icon">
        <img ngSrc="assets/PlayW.png" class="" alt="" height="30" width="30">
        </article>
      </section>

     <!-- <p>Playlist:{{playlist.privacidade}}</p> !-->
    </article>

  </section>
</main>
