<div class="loginBackground">  <!--
 <div class="row loginNavbar">
    <div class="loginLogo">
      <span><img class="bg-white" src="assets/spotify.png"> Spotify</span>
    </div>
  </div>
  -->

  <div class="mainContent">
    <div class="loginSection d-flex ">

      <div class="col-md-5 rounded-4 justify-content-center " style="background: #121212" id="imagemStyle">
        <img src="assets/signup.png" class="img-fluid " id="homemLoginImagem">
      </div>

      <div class="col-md-7">
        <h2 class="text-center loginTitulo">Crie a sua conta no <span class="text-dark"><strong>Ispmedia </strong> </span></h2>
        <div class="centralizaLink">
          <button class="networkButons"><i class="fi fi-brands-google "></i></button>
          <button class="networkButons "><i class="fi fi-brands-facebook"></i></button>
          <button class="networkButons "><i class="fi fi-brands-apple"></i></button>
        </div>

        <div>
          <form class="loginForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="centralizaForm">
              <div>
                <label class="loginFormLabel" for="nome">Nome</label>
                <br>
                <input id="nome" placeholder="Insira o seu nome completo" formControlName="nome" type="text" class="custom-input">
              </div>

              <div>
                <label class="loginFormLabel" for="username">Username</label>
                <br>
                <input id="username" placeholder="Insira o seu username" formControlName="username" type="text" class="custom-input">
              </div>

              <div>
                <label class="loginFormLabel" for="password">Palavra-passe</label>
                <br>
                <input id="password" placeholder="Insira a sua senha" formControlName="password" type="password" class="custom-input">
              </div>

              <button type="submit" class="text-center greenPrimary btn loginButton">Inicie Sessão</button>
            </div>
            <div class="text-center loginSignupArea">
              <span class="signupNow">Esqueceste-te da tua palavra-passe?</span>
            </div>
            <div class="text-center loginSignupArea">
              <span class="customPlaceholder">Já tem conta? <a [routerLink]="['login']"><span class="signupNow">Entrar no SNT-ISPMEDIA</span></a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="text-center loginFooter">
  <span class="customPlaceholder">Este site é protegido por reCAPTCHA. Aplicam-se a Política de Privacidade e os Termos do Serviço da Google.</span>
</div>-->
>
