<div class="criarAlbumBackground ">
  <app-long-polling-news></app-long-polling-news>
  <div class="mainContent">
    <div class="loginSection d-flex ">
      <div class="background-card" style="background-color:  #dc3545;"></div>
      <div class="col-md-7">
        <h2 class="text-center loginTitulo display-3"><i class="bi bi-camera-reels-fill"></i>Upload<span class="text-dark">Videos</span></h2>
        <div>
          <form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-wrap justify-content-between" style="position: relative; right: 60px; ">
              <div class="me-3">
                <label class="CriarAlbumsFormLabel" for="nome">Nome do vídeo:</label>
                <br>
                <input class="custom-input rounded-2 " id="nome" style="border: 2px solid white;" formControlName="nome" type="text">
              </div>

              <div class="me-3">
                <label class="CriarAlbumsFormLabel" for="descricao">Descrição do video:</label>
                <br>
                <textarea class="custom-textArea rounded-2" id="descricao" formControlName="descricao"></textarea>
              </div>

              <div class="me-3">
                <label for="videoImage">Thumbnail do vídeo</label>
                <br>
                <input class="form-control form-control-sm" id="videoImage" type="file" (change)="onFileChange($event, 1)" style="width: 35%; height: 15px;">
              </div>

              <div class="me-3">
                <label for="videoFile">Video</label>
                <br>
                <input class="form-control form-control-sm" id="videoFile" type="file" (change)="onFileChange($event, 2)" style="width: 35%; height: 15px;">
              </div>
            </div>
            <button class="customBTN btn btn-dark mt-5 " type="submit">Adicionar novo vídeo</button>
          </form>
        </div>
      </div>
      <div class="col-md-8 rounded-4 justify-content-center"  id="imagemStyle">
        <img src="assets/videocamera.png" class="img-fluid" >
      </div>
    </div>
  </div>
</div>
