<div class="titulos">
  <h3> Ouvir Músicas Off-line</h3>
</div>
<main>
  <article *ngIf="isPlaying && mediaType == 'video'" class="col">
    <video controls>
      <source [src]="mediaUrl" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
  </article>

  <article *ngIf="isPlaying && mediaType == 'musica'" class="controlsMusica">
    <div class="audio-player">
      <audio #audioElement [src]="mediaUrl"
             (loadedmetadata)="onMetadataLoaded()"
             (timeupdate)="onTimeUpdate()">
      </audio>
      <img [src]="isPlaying && 'assets/icons8-sound.gif'" class="playedSound">

      <div class="progress-container" (click)="seek($event)">
        <div class="progress-bar" [style.width.%]="progress"></div>
      </div>
      <span class="current-time">{{ formatTime(currentTime) }}</span> /
      <span class="duration">{{ formatTime(duration) }}</span>

      <div class="btnControlsAux">
        <button class="mute-unmute" (click)="toggleMute()">
          <i [class]="isMuted ? 'bi bi-volume-mute-fill': 'bi bi-volume-up-fill'"></i>
        </button>
        <button class="rewind" (click)="recuar()">
          <i class="bi bi-skip-backward-fill"></i>
        </button>

        <button class="play-pause" (click)="togglePlayPause()">
          <i class="bi bi-pause"></i>
        </button>

        <button class="rewind" (click)="avancar()">
          <i class="bi bi-skip-forward-fill"></i>
        </button>
      </div>

    </div>

  </article>

  <section class="CardsMusicasOrVideo">
    <article class="CardsDisplayed" *ngFor="let content of conteudos">
      <article class="CardsDisplayed-ImageDescriptions">
        <div class="Image">
          <img src="assets/playlistW.png" alt="playlist icon branco">
        </div>
        <div class="detailsTypeAndName">
          <p>{{content.nome}}</p>
          <p>{{content.dataType}}</p>
        </div>
      </article>
      <article class="ButtonsMusics">
        <div class="buttons" (click)="play(content.url, content.dataType)">
          <img src='assets/PlayW.png' alt="Play Icon">
        </div>
        <div class="buttons" (click)="apagarConteudo(content.nome)">
          <img src="assets/trashW.png" alt="Trash Icon">
        </div>
      </article>
    </article>
  </section>

  <section class="DeleteAll-Conteudos">
    <app-long-polling-news></app-long-polling-news>
    <button class="btn btn-outline-danger" (click)="apagarTudo()">Apagar todos conteúdos Offline</button>
  </section>
</main>
