<h1>Radios</h1>
<main class="containerRadios">
  <app-long-polling-news></app-long-polling-news>

  <section  class="sectionBtns ">
    <div class="BTNPAISES">
      <button class=""><a href="#angolaSection">Angola</a></button>
      <button class=""><a [routerLink]="['#portugalSection']">Portugal</a></button>
    </div>

    <section class="audio-controls">
      <audio #audioElement [src]="radioUri" (ended)="isPlaying=false"
             (loadedmetadata)="onMetadataLoaded()"
             (timeupdate)="onTimeUpdate()">
      </audio>
      <button class="play-pause" (click)="togglePlayPause()">
        <i [class]="isPlaying ? 'bi bi-pause-fill' : 'bi bi-play-fill'"></i>
      </button>
      <div class="progress-container" (click)="seek($event)">
        <div class="progress-bar" [style.width.%]="progress"></div>
      </div>
      <button class="mute-unmute" (click)="toggleMute()">
        <i [class]="isMuted ? 'bi bi-volume-mute-fill' : 'bi bi-volume-up-fill'"></i>
      </button>
      <span class="current-time">{{ formatTime(currentTime) }}</span>

      <input type="range" min="0" max="1" step="0.1" [value]="volume" (input)="setVolume($event)" class="volume-slider">
    </section>

    <h2 #angolaSection id="angolaSection">Angola</h2>
    <section  class="RadiosAngola-conteiner">
    <section class="AllRadiosAngola" *ngFor="let radio of angola" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
            <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #BrasilSection id="BrasilSection">Brasil</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Brasil" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #AlemanhaSection id="AlemanhaSection">Alemanha</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Alemanha" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #FrancaSection id="FrancaSection">França</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Franca" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #CananaSection id="CananaSection">Canana</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Canana" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #portugalSection id="AustraliaSection">Australia</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Australia" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #SpainSection id="SpainSection">Espanha</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Spain" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

    <h2 #ItalySection id="ItalySection">Itália</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of Italy" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>


    <h2 #portugalSection id="portugalSection">Portugal</h2>
    <section  class="RadiosPortugal-conteiner">
      <section class="AllRadiosPortugal" *ngFor="let radio of portugal" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>



    <h2 #usaSection id="usaSection">USA</h2>
    <section class="RadiosUSA-conteiner">
      <section class="AllRadiosUSA" *ngFor="let radio of USA" (click)="play(radio)">
        <article class="RadioImag">
          <img class="imag" [src]="[radio.thumbNailUri]">
        </article>

        <article class="RadiosNomes">
          <span>{{radio.titulo}}</span>
        </article>
      </section>
    </section>

  </section>
</main>

