<div class="row">
  <div class="col" *ngFor="let album of albums">
    <a [routerLink]="['album/'+album.id]">
      <div class="">
        <div class="card-img align-items-center">
          <img *ngIf="albumImages[album.id]" [src]="albumImages[album.id]" alt="{{album.titulo}}" class="imagem-card">
        </div>
        <div class="card-header text-center">
          <span>{{album.titulo}}</span>
        </div>
        <div class="card-body">
          <span>{{album.descricao}}</span>
          <br>
          <span>Criado por: {{album.criadorConteudo.nome}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
