<main class="row">
  <section class="col mb-2" *ngFor="let album of albums">
    <a [routerLink]="['album/'+album.id]">
      <section class="card CardALBUM">
        <article class="card-img align-items-center conteinerCard-Imagem">
          <img *ngIf="albumImages[album.id]" [src]="albumImages[album.id]" alt="{{album.titulo}}" class="imagem-card imagemCard">
        </article>
        <article class="Conteiner-tituloCard">
          <h4>Album</h4>
            <h1>{{album.titulo}}</h1>
        </article>
        <article class="card-body">
          <p>{{album.descricao}}</p>
          <div><span>Criado por</span> - {{album.criadorConteudo.nome}}</div>
        </article>
      </section>
    </a>
  </section>
</main>
