
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ESTILIZAÇÃO GERAL */

*{
  margin: 0;
  font-family: "Raleway", sans-serif ;
}


.mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.criarAlbumBackground{
  background-color:#dc3545;
}*/


.loginNavbar{
  display:flex;
  flex-direction: row;
  margin-left: 10px;
  width: auto;
  height: 70px;
  color:#dc3545;
  font-size: 34px;
  background-color: #121212;
  img{
    width: 60px;
    height: 60px;
  }
}

a{
  text-decoration: none;
}

.loginSection{
  width: 65%;
  height: 650px;
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  margin: 50px;
  padding-top: 25PX;
  position: relative;
  z-index: 1; /* Coloca o conteúdo do formulário acima do cartão */
}

h2{
  color: white;
  position: relative;
  z-index: 1; /* Coloca o conteúdo do formulário acima do cartão */

}

.loginTitulo{
  padding-top: 25px;
  padding-bottom: 10px;
}

.loginTitulo > span{
  font-weight: bold;
}


.loginSection > img{
  width:50px;
  height: 50px;
}

/*-----------------------Estilização do titulo-------------------------------------*/


span:hover{
  color:#121212;
  background-color: #dc3545;
  transition: 0.5s;
}


/*-----------------------------------Estilização de Campos---------------------*/

label{
  color: white;
}

.custom-input {
  width: 150%;
  height: 40px;

}

.custom-select{
  width: 100%;
  height: 35px;
  border: 2px solid white;
}

.custom-textArea{
  width: 150%;
  height: 55px;
}

.custom-data{
  width: 180%;
  height: 45px;

}

.CriarAlbumsFormLabel{
  color: white;
  margin-top: 8px;
  margin-bottom: 5px;

}

/*-------------------------------------------ESTILIZAÇÃO DO FOOTER-----------------------------------------------------*/
.loginFooter{
  font-size: 14px;
  padding-top: 30px;
  background-color: #121212;
  padding-bottom: 30px;
}

.customPlaceholder{
  color:#e8e8e8;
}


/*-----------------------------------imagem----------------------------------*/

#imagemStyle{
  position: relative;
  left: 30px;

}


/*---------------------------------ESTELIZÇÃO---------------------------------*/
.customBTN{
  position: relative;
  right:60px;
  bottom:20px;
}

.CustomBUTADDREM{
  background: none;
}

/*-----------------------Estilização dos bottões-------------------------------------*/

.networkButons {
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
  }
}

.networkButons{
  width: 30px;
  height: 30px;
  border: 2px solid #121212;
  border-radius: 50%;
  background-color: #c31919;
  color: white;
}

.networkButons:hover{
  background-color: #121212;
  transition: 0.5s;
  /*color: rgba(255, 255, 255, 0.34); transparente*/
}

.background-card {
  position: absolute;
  top: 150px; /* Ajuste conforme necessário */
  left: 15%;
  transform: translateX(-50%);
  width: 75%;
  height: 65%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.96); /* Sombra para dar efeito de elevação */
  border-radius: 10px; /* Bordas arredondadas */
  z-index: 0; /* Coloca o cartão atrás do formulário */
  color: rgba(0, 0, 0, 0.5);
}

