<form [formGroup]="musicForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="tituloMusica">Nome da Música:</label>
    <input id="tituloMusica" formControlName="tituloMusica" type="text">
  </div>

  <div>
    <label for="autor">autor da música:</label>
    <select id="autor">
      <option>---autor da Música---</option>
      <option *ngFor="let artista of artistas" value="{{artista.id}}">{{artista.titulo}}</option>
    </select>
  </div>

  <div>
    <label for="generoMusica">Genero da música:</label>
    <select id="generoMusica">
      <option>---Gênero da Música---</option>
      <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.nome}}</option>
    </select>
  </div>

  <div>
    <label for="editora">Nome da editora:</label>
    <input id="editora" formControlName="editora" type="text">
  </div>

  <div>
    <label for="musicFile">Ficheiro da musica</label>
    <input id="musicFile" formControlName="musicFile" type="file" (change)="onFileChange($event, 'musicFile')">
  </div>

  <div>
    <label for="albumImage">Imagem do Álbum:</label>
    <input id="albumImage" formControlName="albumImage" type="file" (change)="onFileChange($event, 'albumImage')">
  </div>

  <div>
    <label for="generoAlbum">Genero do album:</label>
    <select id="generoAlbum">
      <option>---Gênero do Album---</option>
      <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.nome}}</option>
    </select>
  </div>

  <button type="submit">Enviar</button>
</form>
