<form [formGroup]="musicForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="tituloMusica">Nome da Música:</label>
    <input id="tituloMusica" formControlName="tituloMusica" type="text">
  </div>

  <div>
    <label for="descricao">Descrição da música:</label><br>
    <textarea id="descricao" formControlName="descricao"></textarea>
  </div>

  <label for="autor">Autor da musica: </label>
  <select id="autor" formControlName="autor">
    <option *ngFor="let artista of artistas" [value]="artista.id">{{artista.titulo}}</option>
  </select>

  <span>PARTICIPAÇÕES</span>
  <div formArrayName="items">
    <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
      <label for="item-{{i}}">Artista {{i + 1}}: </label>
      <select id="item-{{i}}" formControlName="name">
        <option *ngFor="let artista of artistas" [value]="artista.id">{{artista.titulo}}</option>
      </select>
      <button class="btn btn-outline-danger" type="button" (click)="removeItem(i)">Remover</button>
    </div>
  </div>
  <button class="btn btn-outline-success" type="button" (click)="addItem()">Adicionar mais artistas</button>

  <div *ngIf="!musicForm.get('mostrarCampo')?.value">
    <label for="album">album da música:</label>
    <select id="album" formControlName="album">
      <option *ngFor="let album of albums" value="{{album.id}}">{{album.titulo}}</option>
    </select>
  </div>

  <div>
    <label for="generoMusica">Genero da música:</label>
    <select id="generoMusica" formControlName="generoMusica">
      <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.nome}}</option>
    </select>
  </div>

  <div>
    <label>
      <input type="checkbox" formControlName="mostrarCampo">
      Single
    </label>
  </div>

  <div>
    <label for="editora">Nome da editora:</label>
    <input id="editora" formControlName="editora" type="text">
  </div>

  <div>
    <label for="letra">Letra da música:</label><br>
    <textarea id="letra" formControlName="letra"></textarea>
  </div>

  <div>
    <label for="musicFile">Ficheiro da musica</label>
    <input id="musicFile" type="file" (change)="onFileChange($event, 1)" required>
  </div>

  <div>
    <label for="musicImage">Imagem da música:</label>
    <input id="musicImage" type="file" (change)="onFileChange($event, 2)" required>
  </div>

  <div *ngIf="musicForm.get('mostrarCampo')?.value">
    <div>
      <label for="dataLancamento">Data de lançamento do single: </label>
      <input id="dataLancamento" formControlName="dataLancamento" type="date">
    </div>
  </div>

  <button class="btn btn-outline-primary" type="submit">Upload de música</button>
</form>
