
*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif ;
}

.CreatioConteinerMusic{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dc3545;
}
.mainContent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteinerCreation{
  max-width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr;
}
.FormSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DescriptionForm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.DescriptionForm-H2{
  width: 100%;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
}
.ElementsConteiner{
  max-width: 100%;
}
.Form{
  max-width: 100%;
  padding: 30px;
  margin: 10px;
}

.ElementsForm-article{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.RadiosDescription{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RadiosDescription small{
  flex-direction: column;
  justify-content: center;
}
.RadiosDescription span{
  font-weight: bold;
}
.inputsAlbumsOrSingle{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 .inputCheckBoxAlbum,.inputCheckBoxSingle{
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .ConterinerSelectParticipantes{
   max-width: 100%;
   max-height: 200px;
   overflow-y: auto;
   box-shadow:0 0 3px #242424;
   padding: 20px;
   border-radius: 5px;
 }
 .ConterinerSelectParticipantes label{
   display: flex;
   align-items: center;
 }
 .ParticipatesInputs{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 15px;
   gap: 20px;
 }
.AddPartcipantes-Artists{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AddPartcipantes-Artists div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddPartcipantes-Artists div:nth-child(2){
  margin-top: 25px;
}

.ElementsForm-ficheiros{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.btnRemoveParticipante{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #c31919;
  box-shadow: 0 0 10px #fff;
  margin: 0 20px;
}
.btnRemoveParticipante i{
  color: #ffffff;
}


.conteinerImage{
  max-width: 100%;
  display: flex;
  align-items: center;
}
.conteinerImage div{
  width: 600px;
  height:600px;
  background-color: #212529;
  border-radius: 20px;
}
.conteinerImage div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilizando o scrollbar para navegadores Webkit (Chrome, Safari) */
.ConterinerSelectParticipantes::-webkit-scrollbar {
  width: 12px;
}

.ConterinerSelectParticipantes::-webkit-scrollbar-track {
  background:#dc3545 ; /* Cor do fundo do track */
  border-radius: 5px; /* Cantos arredondados */
}

.ConterinerSelectParticipantes::-webkit-scrollbar-thumb {
  background: #fff; /* Cor do thumb */
  border-radius: 5px; /* Cantos arredondados */
}

.ConterinerSelectParticipantes::-webkit-scrollbar-thumb:hover {
  background: #444444; /* Cor do thumb quando hover */
}








/*-----------------------------------imagem----------------------------------*/

#imagemStyle{
  position: relative;
  left: 30px;

}


/*---------------------------------ESTELIZÇÃO---------------------------------*/
.customBTN{
  width: 50%;
  border:1px solid #fff;
  color: white;
  transition: all 0.3s linear;
}
.customBTN:hover{
  background-color: #fff;
  color: #dc3545;
  font-weight: bold;
}


