<div class="col">
  <h2>Músicas</h2>
  <Section class="col">
    <section>
      <section *ngFor="let musica of album.musics">
        <article class="col card">
          <div class="col">
            <img class="" [src]="albumImage[album.id]" alt="{{musica.titulo}}">
          </div>
          <div class="col">
            <span class="card-header text-center">{{musica.titulo}}</span>
            <br>
              <span>{{musica.artista.titulo}}</span>
          </div>
          <div class="col">
            <div class="row">
              <button class="btn btn-outline-success col" (click)="playMusic(musica.id)">Play/Pause</button><br>
              <button class="btn btn-outline-danger col">Delete</button>
            </div>
          </div>
        </article>
      </section>
    </section>
  </Section>

  <main class="col">
    <div class="col Reviews-Conteiner">

      <section class="Reviews">
        <h2>Críticas do Album</h2>
        <section class="col" *ngFor="let critica of album.criticas">
          <article class="display-Reviews">
            <div class="Photo-Review">
              <img class="userPhoto-Review" src="assets/userPhoto.jpg">
            </div>

            <div class="review-detailsOfSUser">
              <p>Autor: {{critica.critico.nome}}</p>
              <p>Nota: {{critica.nota}}</p>
              <p>Descrição: {{critica.critica}}</p>
            </div>
          </article>
        </section>
      </section>

      <section class="col AvaliationForm-Reviews">
        <form [formGroup]="criticaForm" (submit)="onSubmit()">
          <label for="nota">Nota:</label><br>
          <select id="nota" formControlName="nota">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select><br>
          <label for="critica">Descrição:</label><br>
          <textarea id="critica" formControlName="critica"></textarea><br>
          <button class="btn btn-outline-success" type="submit">Fazer Crítica</button>
        </form>
      </section>

    </div>
  </main>
</div>
