<div class="col" *ngFor="let album of artista.albums">
  <a [routerLink]="['album/'+album.id]">
    <div class="card">
      <div class="card-img align-items-center">
        <img *ngIf="albumImages[album.id]" [src]="albumImages[album.id]" alt="{{album.titulo}}" class="imagem-card">
      </div>
      <div class="card-header text-center">
        <p>{{album.titulo}}</p>
      </div>
      <div class="card-body">
      <span>
        Genero:{{album.genero.nome}}<br><br>
        Pontuação média:{{album.pontuacaoMedia}}<br><br>
        Data de lançamento: {{album.dataLancamento}}<br><br>
        Descrição:{{album.descricao}}
        <br>

      </span>
      </div>
    </div>
  </a>
</div>
