<div class="loginBackground">
  <div class="mainContent">
    <div class="loginSection d-flex ">

      <div class="col-md-5 rounded-4 justify-content-center " style="background: #dc3545" id="imagemStyle">
        <img src="assets/homemouvindomusica.png" class="img-fluid " id="homemLoginImagem">
      </div>

      <div class="col-md-7">
        <h2 class="text-center loginTitulo">Iniciar sessão no <span class="text-danger">ispmedia</span></h2>
        <div class="centralizaLink">
          <button class="networkButons"><i class="fi fi-brands-google "></i></button>
          <button class="networkButons "><i class="fi fi-brands-facebook"></i></button>
          <button class="networkButons "><i class="fi fi-brands-apple"></i></button>
        </div>

        <div>
          <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="centralizaForm">
              <div>
                <label class="loginFormLabel" for="username">Email</label>
                <br>
                <input id="username" placeholder="Insira o seu email" formControlName="username" type="text" class="custom-input">
              </div>

              <div>
                <label class="loginFormLabel" for="password">Palavra-passe</label>
                <br>
                <input id="password" placeholder="Insira a sua senha" formControlName="password" type="password" class="custom-input">
              </div>

              <button type="submit" class="text-center greenPrimary btn loginButton">Inicie Sessão</button>
            </div>
            <div class="text-center loginSignupArea">
              <span class="signupNow">Esqueceste-te da tua palavra-passe?</span>
            </div>
            <div class="text-center loginSignupArea">
              <span class="customPlaceholder">Não tens conta? <a href="../signup"><span class="signupNow">Regista-te no ispmedia</span></a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="text-center loginFooter">
  <span class="customPlaceholder">Este site é protegido por reCAPTCHA. Aplicam-se a Política de Privacidade e os Termos do Serviço da Google.</span>
</div>!-->
