*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.All-Artists{
  max-width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;

}
.artists{
  width: 100%;
  background-color: #242424;
  border-radius: 20px;
}
h2{
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
  /*background-color: #242424;*/
  padding: 10px;
}
.CardARTISTA{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin:15px 0px;
  padding: 10px;
  transition: all 0.2s linear;

}


.conteinerCardARTISTA-Imagem{
  width: 150px;
  height:150px;
  margin: 10px 0;

}
.imagemCardARTISTA{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px #0a0a0a;

}
.Conteiner-tituloCardARTISTA{
  width: 100%;
  background-color: #1d1d1d;
  padding: 10px;
}
.Conteiner-tituloCardARTISTA h1{
  width: 100%;
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.card-bodyARTISTA{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5px;
  color: #fff;
}
.card-bodyARTISTA .descricaoARTISTA{
  width:250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

}
.card-bodyARTISTA span{
  font-weight: bolder;
}
.card-bodyARTISTA div{
  font-size: 12px;
  margin: 5px;
}
