<div class="row">
    <section class="col">
        <h2>Participantes do grupo</h2>
        <div class="row m-2" *ngFor="let participante of participantes">
            <div class="col-sm-2">
              <img src="assets/user.png" width="50" height="50">
            </div>
            <div class="col">
              <span>{{ participante.user.nome }}</span><br>
              <span>{{participante.tipo}}</span>
            </div>
            <div class="col justify-content-center align-content-center align-items-center">
              <div class="container mt-5">
                <div *ngIf="isOwner && participante.user.username.toLowerCase()!=username.toLowerCase()" class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ...
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="grupoActions(participante, 1)">Tornar owner</a>
                    <a class="dropdown-item" (click)="grupoActions(participante, 2)">Tornar editor</a>
                    <a class="dropdown-item">Remover</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="col">
        <h2>Conteudos do grupo <button *ngIf="isEditor || isOwner" (click)="open()" class="btn btn-dark">+</button></h2>
    </section>
    <section class="col">
        <h2>Player e detalhes</h2>
    </section>
  <app-long-polling-news></app-long-polling-news>
</div>

<!-- Modal pra introduzir conteúdos no grupo-->
<div class="modal" tabindex="-1" role="dialog" *ngIf="isVisible">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Escolha conteúdo que deseja adicionar no grupo</h5>
        <!--
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
        <p>Conteúdo do modal. Adicione muito texto aqui para ver a barra de rolagem...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>
