<div class="col">
  <section class="col">
    <section class=".CardARTISTADescription">
      <article class="CardConteiner-Artista">
      <article class="ArtistaImagem">
        <div class="CardConteiner-Imagem-Artista">
          <img *ngIf="imgSrc[artist.id]" [src]="imgSrc[artist.id]" alt="{{artist.titulo}}" class="imagem-card">
        </div>
      </article>
        <article class="card-bodyArtistaAlbums">
          <article class="artistaAlbums-Textos">
            <p class="artistaAlbums-titulo">{{artist.titulo}}</p>
          </article>
          <h4>ARTISTA</h4>
          <p class="artistaAlbums-descricao">
            {{artist.descricao}}
          </p>
        </article>
      </article>
    </section>
  </section>

  <section class="col">
    <app-long-polling-news></app-long-polling-news>
    <router-outlet></router-outlet>
  </section>
</div>

